<pro-header [title]="'模版例子1'">
    <ng-template #content>简单的模版例子</ng-template>
</pro-header>


<!--流程处理的步骤-->
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card nzTitle="">
            <nz-steps [(nzCurrent)]="current">
                <nz-step [nzTitle]="'Finished'" [nzDescription]="'This is a description.'"></nz-step>
                <nz-step [nzTitle]="'In Progress'" [nzDescription]="nzDescription">
                    <ng-template #nzDescription>
                        <p>This is a description.</p>
                        <nz-progress [ngModel]="30" [nzStrokeWidth]="5"></nz-progress>
                    </ng-template>
                </nz-step>
                <nz-step [nzTitle]="'Waiting'" [nzDescription]="'This is a description.'"></nz-step>
                <nz-step [nzTitle]="'Waiting'" [nzDescription]="'This is a description.'"></nz-step>
                <nz-step [nzTitle]="'Waiting'" [nzDescription]="'This is a description.'"></nz-step>
            </nz-steps>
        </nz-card>
    </div>
</div>

<form nz-form>
    <div nz-row [nzGutter]="16">
        <div nz-col [nzMd]="24">
            <nz-card nzTitle="表单区域">

                <div nz-form-item nz-row [nzGutter]="8">

                    <fieldset>
                        <legend>Built-in</legend>

                        <div nz-form-item nz-col [nzSpan]="8">
                            <div nz-form-label nz-col [nzSm]="6">
                                <label for="field1" title="这个是一个长长长的字段">这个是一个长长长的字段</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="18">
                                <nz-input [nzId]="'field1'" [nzPlaceHolder]="'请输入字段'"></nz-input>
                            </div>
                        </div>

                        <div nz-form-item nz-col [nzSpan]="8">
                            <div nz-form-label nz-col [nzSm]="6">
                                <!-- 加上nz-form-item-required 之后可以增加一个 红色的 * -->
                                <label nz-form-item-required>字段二</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="18">
                                <nz-input [nzPlaceHolder]="'请输入字段'"></nz-input>
                            </div>
                        </div>

                        <div nz-form-item nz-col [nzSpan]="8">
                            <div nz-form-label nz-col [nzSm]="6">
                                <label>字段三</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="18" [nzValidateStatus]="'success'" nzHasFeedback>
                                <nz-input [nzDisabled]="isDisabled" [nzPlaceHolder]="'请输入字段'"></nz-input>
                            </div>
                        </div>
                    </fieldset>

                    <!-- 跨两列布局 -->
                    <div nz-form-item nz-col [nzSpan]="8">
                        <div nz-form-label nz-col [nzSm]="6">
                            <label>字段四</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="18">
                            <nz-input [nzDisabled]="isDisabled" [nzPlaceHolder]="'请输入字段'"></nz-input>
                        </div>
                    </div>
                    <div nz-form-item nz-col [nzSpan]="16">
                        <div nz-form-label nz-col [nzSm]="3">
                            <label>备注</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="21">
                            <nz-input [nzPlaceHolder]="'请输入字段'"></nz-input>
                        </div>
                    </div>

                    <!-- 跨两列布局 -->
                    <div nz-form-item nz-col [nzSpan]="16">
                        <div nz-form-label nz-col [nzSm]="3">
                            <label>摘要</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="21">
                            <nz-input [nzPlaceHolder]="'请输入字段'"></nz-input>
                        </div>
                    </div>
                    <div nz-form-item nz-col [nzSpan]="8">
                        <div nz-form-label nz-col [nzSm]="6">
                            <label>字段五</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="18">
                            <nz-input [nzPlaceHolder]="'请输入字段'"></nz-input>
                        </div>
                    </div>

                    <!-- 跨三列布局 -->
                    <div nz-form-item nz-col [nzSpan]="24">
                        <div nz-form-label nz-col [nzSm]="2">
                            <label>意见输入</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="22">
                            <nz-input [nzDisabled]="isDisabled" [nzPlaceHolder]="'请输入字段'"></nz-input>
                            <div nz-form-explain>如果有任何的不满意地方，请及时反馈，我们期待你的任何建议</div>
                        </div>
                    </div>

                    <!-- textarea -->
                    <div nz-form-item nz-col [nzSpan]="24">
                        <div nz-form-label nz-col [nzSm]="2">
                            <label>文本域</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="22">
                            <nz-input [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'如果有任何的不满意地方，请及时反馈，我们期待你的任何建议'"></nz-input>
                        </div>
                    </div>

                    <fieldset>
                        <legend>Built-out</legend>

                        <div nz-form-item nz-col [nzSpan]="8">
                            <div nz-form-label nz-col [nzSm]="6">
                                <label for="" title="">样式字段一</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="18" [nzValidateStatus]="'validating'" nzHasFeedback>
                                <nz-input [nzId]="''" [nzPlaceHolder]="'请输入字段'"></nz-input>
                                <div nz-form-explain>验证字段</div>
                            </div>
                        </div>

                        <div nz-form-item nz-col [nzSpan]="8">
                            <div nz-form-label nz-col [nzSm]="6">
                                <label for="" title="">样式字段二</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="18" [nzValidateStatus]="'warning'" nzHasFeedback>
                                <nz-input [nzId]="''" [nzPlaceHolder]="'请输入字段'"></nz-input>
                                <div nz-form-explain>警告提示</div>
                            </div>
                        </div>

                        <div nz-form-item nz-col [nzSpan]="8">
                            <div nz-form-label nz-col [nzSm]="6">
                                <label for="" title="">样式字段三</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="18" [nzValidateStatus]="'error'" nzHasFeedback>
                                <nz-input [nzId]="''" [nzPlaceHolder]="'请输入字段'"></nz-input>
                                <div nz-form-explain>错误提示</div>
                            </div>
                        </div>

                        <!------------------------------ 控件布局 ------------------------------>

                        <!-- select 控件 -->
                        <div nz-form-item nz-col [nzSpan]="8">
                            <div nz-form-label nz-col [nzSm]="6">
                                <label>下拉选择</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="18">
                                <nz-select [(ngModel)]="selectValue" name="selectValue" nzAllowClear>
                                    <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
                                    </nz-option>
                                </nz-select>
                            </div>
                        </div>


                        <!--数字控件-->
                        <div nz-form-item nz-col [nzSpan]="8">
                            <div nz-form-label nz-col [nzSm]="6">
                                <label>InputNumber</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="18">
                                <nz-input-number [nzMax]="10" [nzMin]="1"></nz-input-number>
                            </div>
                        </div>

                        <!--下拉多选-->
                        <div nz-form-item nz-col [nzSpan]="8">
                            <div nz-form-label nz-col [nzSm]="6">
                                <label>下拉多选</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="18">
                                <nz-select [nzMode]="'multiple'" nzAllowClear>
                                    <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option">
                                    </nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </fieldset>

                    <!-- checkbox 与 radio -->
                    <div nz-form-item nz-col [nzSpan]="24">
                        <div nz-form-label nz-col [nzSm]="2">
                            <label>多选和单选</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="22">
                            <label nz-checkbox>
                                <span>Checkbox</span>
                            </label>
                            <nz-radio-group>
                                <label nz-radio [nzValue]="'A'">
                                    <span>Radio A</span>
                                </label>
                                <label nz-radio [nzValue]="'B'">
                                    <span>Radio B</span>
                                </label>
                                <label nz-radio [nzValue]="'C'">
                                    <span>Radio B</span>
                                </label>
                            </nz-radio-group>
                        </div>
                    </div>

                    <!--日期和时间控件-->
                    <div nz-form-item nz-col [nzSpan]="8">
                        <div nz-form-label nz-col [nzSm]="6">
                            <label>日期选择</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="18">
                            <nz-datepicker></nz-datepicker>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="8">
                        <div nz-form-label nz-col [nzSm]="6">
                            <label>时间选择</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="18">
                            <nz-timepicker></nz-timepicker>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="8">
                        <div nz-form-label nz-col [nzSm]="6">
                            <label>日期选择</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="18">
                            <nz-datepicker [nzMode]="'month'" [nzFormat]="'YYYY-MM'" nzDisabled></nz-datepicker>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="8">
                        <div nz-form-label nz-col [nzSm]="6">
                            <label>区间段时间选择</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="18">

                            <nz-datepicker style="width: 50%;" (ngModelChange)="_startDate=$event;_startValueChange()" [ngModel]="_startDate" [nzDisabledDate]="_disabledStartDate" nzShowTime [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'Start date'"></nz-datepicker>

                            <nz-datepicker style="width: 50%;" (ngModelChange)="_endDate=$event;_endValueChange()" [ngModel]="_endDate" [nzDisabledDate]="_disabledEndDate" [nzShowTime]="_endTime" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'End date'"></nz-datepicker>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="8">
                        <div nz-form-label nz-col [nzSm]="6">
                            <label>区间段时间选择</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="18">
                            <nz-rangepicker [(ngModel)]="_dateRange"></nz-rangepicker>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="8">
                        <div nz-form-label nz-col [nzSm]="6">
                            <label>cascader</label>
                        </div>
                        <!-- <div nz-form-control nz-col [nzSm]="18">
                            <nz-cascader
                                [(ngModel)]="cityValue" name="city"
                                [nzExpandTrigger]="'hover'"
                                [nzOptions]="cities"
                                (ngModelChange)="changeCity($event)"
                                (nzChange)="changeCity($event)"></nz-cascader>
                        </div> -->
                    </div>
                </div>

            </nz-card>
        </div>
    </div>

    <div nz-col [nzMd]="12">
        <nz-card nzTitle="会员信息">

            <div nz-form-item nz-col [nzSpan]="8">
                <div nz-form-label nz-col [nzSm]="10">
                    <label>会员名称</label>
                </div>

                <div nz-form-control nz-col [nzSm]="14">
                    <span nz-form-text>王先森</span>
                </div>
            </div>

            <div nz-form-item nz-col [nzSpan]="8">
                <div nz-form-label nz-col [nzSm]="10">
                    <label>会员积分</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14">
                    <span nz-form-text>1000</span>
                </div>
            </div>

            <div nz-form-item nz-col [nzSpan]="8">
                <div nz-form-label nz-col [nzSm]="10">
                    <label>会员等级</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14">
                    <span nz-form-text>一般会员</span>
                </div>
            </div>

            <div nz-form-item nz-col [nzSpan]="12">
                <div nz-form-label nz-col [nzSm]="7">
                    <label>会员电话</label>
                </div>
                <div nz-form-control nz-col [nzSm]="17">
                    <span nz-form-text>132****1234</span>
                </div>
            </div>

            <div nz-form-item nz-col [nzSpan]="12">
                <div nz-form-label nz-col [nzSm]="7">
                    <label>会员电话</label>
                </div>
                <div nz-form-control nz-col [nzSm]="17">
                    <span nz-form-text>132****1234</span>
                </div>
            </div>

            <div nz-form-item nz-col [nzSpan]="12">
                <div nz-form-label nz-col [nzSm]="6">
                    <label>会员电话</label>
                </div>
                <div nz-form-control nz-col [nzSm]="18">
                    <span nz-form-text>132****1234</span>
                </div>
            </div>

            <div nz-form-item nz-col [nzSpan]="12">
                <div nz-form-label nz-col [nzSm]="6">
                    <label>会员电话</label>
                </div>
                <div nz-form-control nz-col [nzSm]="18">
                    <span nz-form-text>132****1234</span>
                </div>
            </div>

        </nz-card>
    </div>

    <div nz-col [nzMd]="12">
        <nz-card nzTitle="门店信息">

            <div nz-form-item nz-col [nzSpan]="12">
                <div nz-form-label nz-col [nzSm]="8">
                    <label>
                        门店名称
                        <nz-tooltip [nzTitle]="'What do you want other to call you'">
                            <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                        </nz-tooltip>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="16">
                    <span nz-form-text>墩和店</span>
                </div>
            </div>

            <div nz-form-item nz-col [nzSpan]="12">
                <div nz-form-label nz-col [nzSm]="8">
                    <label>门店类型</label>
                </div>
                <div nz-form-control nz-col [nzSm]="16">
                    <span nz-form-text>社区店</span>
                </div>
            </div>

            <div nz-form-item nz-col [nzSpan]="12">
                <div nz-form-label nz-col [nzSm]="8">
                    <label>门店等级</label>
                </div>
                <div nz-form-control nz-col [nzSm]="16">
                    <span nz-form-text>优秀门店</span>
                </div>
            </div>

            <div nz-form-item nz-col [nzSpan]="12">
                <div nz-form-label nz-col [nzSm]="8">
                    <label>门店电话</label>
                </div>
                <div nz-form-control nz-col [nzSm]="16">
                    <span nz-form-text>888-888</span>
                </div>
            </div>

        </nz-card>
    </div>

    <div nz-row [nzGutter]="16">
        <div nz-col [nzMd]="24">
            <nz-card nzTitle="">

                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="4">
                        <label>Select</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="20">
                        <nz-select [(ngModel)]="selectValue" name="selectValue" nzAllowClear>
                            <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>

                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="4">
                        <label>Select[multiple]</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="20">
                        <nz-select [nzMode]="'multiple'" nzAllowClear>
                            <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>

                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="4">
                        <label>Switch</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="20">
                        <nz-switch [nzSize]="'large'" class="mr-sm"></nz-switch>
                        <nz-switch class="mr-sm"></nz-switch>
                        <nz-switch [nzSize]="'small'"></nz-switch>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="4">
                        <label>Slider</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="8">
                        <nz-slider [nzMarks]="marks"></nz-slider>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="4">
                        <label>Rate</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="20">
                        <nz-rate [(ngModel)]="rate" name="rate" nzAllowHalf></nz-rate>
                        <span class="ant-rate-text">{{rate}} 星</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="4">
                        <label>Tag</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="20">
                        <nz-tag [nzColor]="'pink'">pink</nz-tag>
                        <nz-tag [nzColor]="'red'">red</nz-tag>
                        <nz-tag [nzColor]="'orange'">orange</nz-tag>
                        <nz-tag [nzColor]="'green'">green</nz-tag>
                        <nz-tag [nzColor]="'cyan'" [nzClosable]="true">cyan</nz-tag>
                        <nz-tag [nzColor]="'blue'" [nzClosable]="true">blue</nz-tag>
                        <nz-tag [nzColor]="'purple'" [nzClosable]="true">purple</nz-tag>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="4">
                        <label>Categories Tag</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="20">
                        <nz-checkable-tag *ngFor="let tag of hotTags" [nzChecked]="selectedTags.indexOf(tag) > -1" (nzChange)="handleChange($event, tag)">{{tag}}</nz-checkable-tag>
                    </div>
                </div>

                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="4">
                        <label>radio button style</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="20">
                        <nz-radio-group>
                            <label nz-radio-button [nzValue]="'A'">
                                <span>Hangzhou</span>
                            </label>
                            <label nz-radio-button [nzValue]="'B'">
                                <span>Shanghai</span>
                            </label>
                            <label nz-radio-button [nzValue]="'C'">
                                <span>Beijing</span>
                            </label>
                            <label nz-radio-button [nzValue]="'D'">
                                <span>Chengdu</span>
                            </label>
                        </nz-radio-group>
                        <div class="mt-sm">
                            <nz-radio-group>
                                <label nz-radio-button [nzValue]="'A'">
                                    <span>Hangzhou</span>
                                </label>
                                <label nz-radio-button [nzValue]="'B'" [nzDisabled]="true">
                                    <span>Shanghai</span>
                                </label>
                                <label nz-radio-button [nzValue]="'C'">
                                    <span>Beijing</span>
                                </label>
                                <label nz-radio-button [nzValue]="'D'">
                                    <span>Chengdu</span>
                                </label>
                            </nz-radio-group>
                        </div>
                        <div class="mt-sm">
                            <nz-radio-group [nzSize]="'small'">
                                <label nz-radio-button [nzValue]="'A'" [nzDisabled]="true">
                                    <span>Hangzhou</span>
                                </label>
                                <label nz-radio-button [nzValue]="'B'" [nzDisabled]="true">
                                    <span>Shanghai</span>
                                </label>
                                <label nz-radio-button [nzValue]="'C'" [nzDisabled]="true">
                                    <span>Beijing</span>
                                </label>
                                <label nz-radio-button [nzValue]="'D'" [nzDisabled]="true">
                                    <span>Chengdu</span>
                                </label>
                            </nz-radio-group>
                        </div>
                    </div>
                </div>


            </nz-card>
        </div>
    </div>

    <footer-toolbar errorCollect style="z-index: 0">
        <button nz-button [nzType]="'primary'" nzSize="large">提交</button>
    </footer-toolbar>
</form>