<pro-header></pro-header>

<form nz-form [formGroup]="formGroupModel">
    <div nz-row [nzGutter]="16">
        <div nz-col [nzMd]="24">
            <nz-card nzTitle="表单区域">

                <div nz-form-item nz-row [nzGutter]="8">
                    <div nz-form-item nz-col [nzSpan]="8">
                        <div nz-form-label nz-col [nzSm]="6">
                            <label title="这个是一个长长长的字段">这个是一个长长长的字段</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="18">
                            <nz-input [nzPlaceHolder]="'弹出查询'"></nz-input>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="8">
                        <div nz-form-label nz-col [nzSm]="6">
                            <label nz-form-item-required>字段二</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="18">
                            <nz-input [nzPlaceHolder]="'请输入字段'" formControlName="selectFeild">
                                <ng-template #addOnAfter>
                                    <i class="anticon anticon-setting" (click)="onClickSelect($event)"></i>
                                </ng-template>
                            </nz-input>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="8">
                        <div nz-form-label nz-col [nzSm]="6">
                            <label>字段三</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="18">
                            <nz-input [nzPlaceHolder]="'弹出查询'">
                                <ng-template #suffix>
                                    <i class="anticon anticon-search" (click)="onSearchChange(modelContent)"></i>
                                </ng-template>
                            </nz-input>
                        </div>
                    </div>
                </div>

                <ng-template #modelContent>
                    <div nz-row [nzGutter]="16">
                        <div nz-col nzMd="6" nzSm="12" nzXs="24">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col><label>任务名</label></div>
                                <div nz-form-control nz-col nzHasFeedback >
                                    <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>

                                </div>
                            </div>
                        </div>
                        <div nz-col [nzMd]="{span:6, offset:2}" nzSm="12" nzXs="24">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col><label>任务描述</label></div>
                                <div nz-form-control nz-col nzHasFeedback >
                                    <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>

                                </div>
                            </div>
                        </div>
                        <div nz-col [nzMd]="{span:8, offset:2}" nzSm="24" nzXs="24">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col><label>执行人</label></div>
                                <div nz-form-control nz-col >
                                    <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>
                                </div>
                            </div>
                        </div>

                        <div nz-col nzMd="6" nzSm="12" nzXs="24">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col><label>任务名</label></div>
                                <div nz-form-control nz-col nzHasFeedback >
                                    <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>

                                </div>
                            </div>
                        </div>
                        <div nz-col [nzMd]="{span:6, offset:2}" nzSm="12" nzXs="24">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col><label>任务描述</label></div>
                                <div nz-form-control nz-col nzHasFeedback >
                                    <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>

                                </div>
                            </div>
                        </div>
                        <div nz-col [nzMd]="{span:8, offset:2}" nzSm="24" nzXs="24">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col><label>执行人</label></div>
                                <div nz-form-control nz-col >
                                    <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nz-table [nzDataSource]="data.advancedOperation1" [nzIsPagination]="false">
                        <thead nz-thead>
                        <tr>
                            <th nz-th><span>操作类型</span></th>
                            <th nz-th><span>操作人</span></th>
                            <th nz-th><span>执行结果</span></th>
                            <th nz-th><span>操作时间</span></th>
                            <th nz-th><span>备注</span></th>
                        </tr>
                        </thead>
                        <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let i of data.advancedOperation1">
                            <td nz-td>{{i.type}}</td>
                            <td nz-td>{{i.name}}</td>
                            <td nz-td>
                                <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                                <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
                            </td>
                            <td nz-td>{{i.updatedAt | _date}}</td>
                            <td nz-td>{{i.memo}}</td>
                        </tr>
                        </tbody>
                    </nz-table>

                </ng-template>

            </nz-card>
        </div>
    </div>

    <nz-card [nzBordered]="false">
        <nz-card-tab nzTabHeading="操作日志一">
            <nz-table [nzDataSource]="data.advancedOperation1" [nzIsPagination]="false">
                <thead nz-thead>
                <tr>
                    <th nz-th><span>操作类型</span></th>
                    <th nz-th><span>操作人</span></th>
                    <th nz-th><span>执行结果</span></th>
                    <th nz-th><span>操作时间</span></th>
                    <th nz-th><span>备注</span></th>
                </tr>
                </thead>
                <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let i of data.advancedOperation1">
                    <td nz-td>{{i.type}}</td>
                    <td nz-td>{{i.name}}</td>
                    <td nz-td>
                        <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                        <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
                    </td>
                    <td nz-td>{{i.updatedAt | _date}}</td>
                    <td nz-td>{{i.memo}}</td>
                </tr>
                </tbody>
            </nz-table>
        </nz-card-tab>
        <nz-card-tab nzTabHeading="操作日志二">
            <nz-table [nzDataSource]="data.advancedOperation2" [nzIsPagination]="false">
                <thead nz-thead>
                <tr>
                    <th nz-th><span>操作类型</span></th>
                    <th nz-th><span>操作人</span></th>
                    <th nz-th><span>执行结果</span></th>
                    <th nz-th><span>操作时间</span></th>
                    <th nz-th><span>备注</span></th>
                </tr>
                </thead>
                <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let i of data.advancedOperation2">
                    <td nz-td>{{i.type}}</td>
                    <td nz-td>{{i.name}}</td>
                    <td nz-td>
                        <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                        <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
                    </td>
                    <td nz-td>{{i.updatedAt | _date}}</td>
                    <td nz-td>{{i.memo}}</td>
                </tr>
                </tbody>
            </nz-table>
        </nz-card-tab>
        <nz-card-tab nzTabHeading="操作日志三">
            <nz-table [nzDataSource]="data.advancedOperation3" [nzIsPagination]="false">
                <thead nz-thead>
                <tr>
                    <th nz-th><span>操作类型</span></th>
                    <th nz-th><span>操作人</span></th>
                    <th nz-th><span>执行结果</span></th>
                    <th nz-th><span>操作时间</span></th>
                    <th nz-th><span>备注</span></th>
                </tr>
                </thead>
                <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let i of data.advancedOperation3">
                    <td nz-td>{{i.type}}</td>
                    <td nz-td>{{i.name}}</td>
                    <td nz-td>
                        <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                        <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
                    </td>
                    <td nz-td>{{i.updatedAt | _date}}</td>
                    <td nz-td>{{i.memo}}</td>
                </tr>
                </tbody>
            </nz-table>
        </nz-card-tab>
    </nz-card>

    <nz-card [nzBordered]="false">
        <nz-card-tab nzTabHeading="操作日志一">
            <div nz-row [nzGutter]="16">
                <div nz-col nzMd="6" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>任务名</label></div>
                        <div nz-form-control nz-col nzHasFeedback >
                            <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>

                        </div>
                    </div>
                </div>
                <div nz-col [nzMd]="{span:6, offset:2}" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>任务描述</label></div>
                        <div nz-form-control nz-col nzHasFeedback >
                            <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>

                        </div>
                    </div>
                </div>
                <div nz-col [nzMd]="{span:8, offset:2}" nzSm="24" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>执行人</label></div>
                        <div nz-form-control nz-col >
                            <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>
                        </div>
                    </div>
                </div>

                <div nz-col nzMd="6" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>任务名</label></div>
                        <div nz-form-control nz-col nzHasFeedback >
                            <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>

                        </div>
                    </div>
                </div>
                <div nz-col [nzMd]="{span:6, offset:2}" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>任务描述</label></div>
                        <div nz-form-control nz-col nzHasFeedback >
                            <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>

                        </div>
                    </div>
                </div>
                <div nz-col [nzMd]="{span:8, offset:2}" nzSm="24" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>执行人</label></div>
                        <div nz-form-control nz-col >
                            <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>
                        </div>
                    </div>
                </div>
            </div>
        </nz-card-tab>

        <nz-card-tab nzTabHeading="操作日志二">
            <div nz-row [nzGutter]="16">

                <div nz-col nzMd="6" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>字段一</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="feild1">
                            <nz-input formControlName="feild1" nzPlaceHolder="字段一" nzSize="large"></nz-input>
                            <div nz-form-explain *ngIf="(feild1.dirty || feild1.touched) && feild1.errors?.required">
                                请输入字段一
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-col nzMd="6" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>字段二</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="feild2">
                            <nz-input formControlName="feild2" nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>
                            <div nz-form-explain *ngIf="(feild2.dirty || feild2.touched) && feild2.errors?.required">
                                请输入字段二
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-col nzMd="6" nzSm="24" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>字段三</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="feild3">
                            <nz-input formControlName="feild3" nzPlaceHolder="请输入字段三" nzSize="large"></nz-input>
                            <div nz-form-explain *ngIf="(feild3.dirty || feild3.touched) && feild3.errors?.required">
                                请输入字段三
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-col nzMd="6" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>字段四</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="feild4">
                            <nz-input formControlName="feild4" nzPlaceHolder="请输入字段四" nzSize="large"></nz-input>
                            <div nz-form-explain *ngIf="(feild4.dirty || feild4.touched) && feild4.errors?.required">
                                请输入字段四
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-col nzMd="12" nzSm="24" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>字段五</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="feild5">
                            <nz-input formControlName="feild5" nzPlaceHolder="请输入字段五" nzSize="large"></nz-input>
                            <div nz-form-explain *ngIf="(feild5.dirty || feild5.touched) && feild5.errors?.required">
                                请输入字段五
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-col nzMd="12" nzSm="24" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>字段六</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="feild6">
                            <nz-input formControlName="feild6" nzPlaceHolder="请输入字段五" nzSize="large"></nz-input>
                            <div nz-form-explain *ngIf="(feild6.dirty || feild6.touched) && feild6.errors?.required">
                                请输入字段六
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-col nzMd="18" nzSm="24" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>字段七</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="feild7">
                            <nz-input formControlName="feild7" nzPlaceHolder="请输入字段五" nzSize="large"></nz-input>
                            <div nz-form-explain *ngIf="(feild7.dirty || feild7.touched) && feild7.errors?.required">
                                请输入字段七
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-col nzMd="6" nzSm="24" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>字段八</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="feild8">
                            <nz-input formControlName="feild8" nzPlaceHolder="请输入字段五" nzSize="large"></nz-input>
                            <div nz-form-explain *ngIf="(feild8.dirty || feild8.touched) && feild8.errors?.required">
                                请输入字段八
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-col nzMd="24" nzSm="24" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>字段九</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="feild9">
                            <nz-input formControlName="feild9" nzPlaceHolder="请输入字段五" nzSize="large"></nz-input>
                            <div nz-form-explain *ngIf="(feild9.dirty || feild9.touched) && feild9.errors?.required">
                                请输入字段九
                            </div>
                        </div>
                    </div>
                </div>


                <div nz-col nzMd="6" nzSm="24" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>字段十</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="feild10">
                            <nz-input formControlName="feild10" nzPlaceHolder="请输入字段五" nzSize="large"></nz-input>
                            <div nz-form-explain *ngIf="(feild10.dirty || feild10.touched) && feild10.errors?.required">
                                请输入字段十
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-col nzMd="6" nzSm="24" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>字段十一</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="feild11">
                            <nz-input formControlName="feild11" nzPlaceHolder="请输入字段五" nzSize="large"></nz-input>
                            <div nz-form-explain *ngIf="(feild11.dirty || feild11.touched) && feild11.errors?.required">
                                请输入字段十一
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </nz-card-tab>

        <nz-card-tab nzTabHeading="操作日志三">
            <div nz-row [nzGutter]="16">
                <div nz-col nzMd="8" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col>
                            <label>任务名三</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback >
                            <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>

                        </div>
                    </div>
                </div>
                <div nz-col nzMd="8" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>任务描述三</label></div>
                        <div nz-form-control nz-col nzHasFeedback >
                            <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>

                        </div>
                    </div>
                </div>
                <div nz-col nzMd="8" nzSm="24" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>执行人三</label></div>
                        <div nz-form-control nz-col >
                            <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>
                        </div>
                    </div>
                </div>

                <div nz-col nzMd="8" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>任务描述</label></div>
                        <div nz-form-control nz-col nzHasFeedback >
                            <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>

                        </div>
                    </div>
                </div>
                <div nz-col nzMd="8" nzSm="24" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>执行人</label></div>
                        <div nz-form-control nz-col >
                            <nz-input nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>
                        </div>
                    </div>
                </div>
            </div>
        </nz-card-tab>
    </nz-card>

    <nz-card nzTitle="测试布局">
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="5">
                        <label>Test1</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="19">
                        <nz-input [nzPlaceHolder]="'placeholder'"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="5">
                        <label>Test2</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="19">
                        <nz-input [nzPlaceHolder]="'placeholder'"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="5">
                        <label>Test3</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="19">
                        <nz-input [nzPlaceHolder]="'placeholder'"></nz-input>
                    </div>
                </div>
            </div>


            <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="5">
                        <label>Test4</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="19">
                        <nz-input [nzPlaceHolder]="'placeholder'"></nz-input>
                    </div>
                </div>
            </div>


            <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="5">
                        <label>Test5</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="19">
                        <nz-input [nzPlaceHolder]="'placeholder'"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="5">
                        <label>Test6</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="19">
                        <nz-input [nzPlaceHolder]="'placeholder'"></nz-input>
                    </div>
                </div>
            </div>
        </div>
    </nz-card>

    <nz-card>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzMd]="24">

                <div nz-form-item nz-row [nzGutter]="8">

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label nz-form-item-required>公司编码</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzSm]="16" [nzValidateStatus]="companyId">
                            <nz-input formControlName="companyId" [nzPlaceHolder]="'请输入公司编码'" ></nz-input>
                            <div nz-form-explain *ngIf="(companyId.dirty || companyId.touched) && companyId.errors?.required">
                                请输公司编码
                            </div>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label nz-form-item-required>公司名称</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzSm]="16" [nzValidateStatus]="companyName">
                            <nz-input formControlName="companyName" [nzPlaceHolder]="'请输入公司名称'"></nz-input>
                            <div nz-form-explain *ngIf="(companyName.dirty || companyName.touched) && companyName.errors?.required">
                                请输公司名称
                            </div>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label nz-form-item-required>简称</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzSm]="16" [nzValidateStatus]="shortName">
                            <nz-input formControlName="shortName" [nzPlaceHolder]="'请输入公司简称'"></nz-input>
                            <div nz-form-explain *ngIf="(shortName.dirty || shortName.touched) && shortName.errors?.required">
                                请输公司简称
                            </div>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label nz-form-item-required>国家名称</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzSm]="16" [nzValidateStatus]="countryName">
                            <nz-input formControlName="countryName" [nzPlaceHolder]="'请输入国家名称'"></nz-input>
                            <div nz-form-explain *ngIf="(countryName.dirty || countryName.touched) && countryName.errors?.required">
                                请输国家名称
                            </div>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="12" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="4">
                            <label nz-form-item-required>省份名称</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzSm]="20" [nzValidateStatus]="provinceName">
                            <nz-input formControlName="provinceName" [nzPlaceHolder]="'请输入省份名称'"></nz-input>
                            <div nz-form-explain *ngIf="(provinceName.dirty || provinceName.touched) && provinceName.errors?.required">
                                请输省份名称
                            </div>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label nz-form-item-required>城市名称</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzSm]="16" [nzValidateStatus]="cityName">
                            <nz-input formControlName="cityName" [nzPlaceHolder]="'请输入城市名称'"></nz-input>
                            <div nz-form-explain *ngIf="(cityName.dirty || cityName.touched) && cityName.errors?.required">
                                请输城市名称
                            </div>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label nz-form-item-required>注册地址</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzSm]="16" [nzValidateStatus]="registerAddress">
                            <nz-input formControlName="registerAddress" [nzPlaceHolder]="'请输入注册地址'"></nz-input>
                            <div nz-form-explain *ngIf="(registerAddress.dirty || registerAddress.touched) && registerAddress.errors?.required">
                                请输入注册地址
                            </div>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label>公司英文名称</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="16">
                            <nz-input [nzPlaceHolder]="'请输入公司英文名称'"></nz-input>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label>邮政编码</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="16">
                            <nz-input [nzPlaceHolder]="'请输入邮政编码'"></nz-input>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label nz-form-item-required>税号</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzSm]="16" [nzValidateStatus]="taxId">
                            <nz-input  formControlName="taxId" [nzPlaceHolder]="'纳税人识别号是税务登记证上的号码'"></nz-input>
                            <div nz-form-explain *ngIf="(taxId.dirty || taxId.touched) && taxId.errors?.required">
                                请输入税号
                            </div>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label nz-form-item-required>帐号</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzSm]="16" [nzValidateStatus]="accountId">
                            <nz-input formControlName="accountId" [nzPlaceHolder]="'请输入帐号'"></nz-input>
                            <div nz-form-explain *ngIf="(accountId.dirty || accountId.touched) && accountId.errors?.required">
                                请输入帐号
                            </div>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label nz-form-item-required>开户银行</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzSm]="16" [nzValidateStatus]="bankName">
                            <nz-input formControlName="bankName" [nzPlaceHolder]="'请输入开户银行'"></nz-input>
                            <div nz-form-explain *ngIf="(bankName.dirty || bankName.touched) && bankName.errors?.required">
                                请输入开户银行
                            </div>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label nz-form-item-required>联系人</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="16">
                            <nz-input formControlName="contactName" [nzPlaceHolder]="'请输入联系人'"></nz-input>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label nz-form-item-required>联系电话</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="16">
                            <nz-input formControlName="contactPhone" [nzPlaceHolder]="'请输入联系电话'"></nz-input>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label nz-form-item-required>手机号码</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="16">
                            <nz-input formControlName="cellPhoneNumber" [nzPlaceHolder]="'请输入手机号码'"></nz-input>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label nz-form-item-required>有效标记</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="16">
                            <label nz-checkbox formControlName="isValid">
                                <span>有效</span>
                            </label>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label>供应商编码</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="16">
                            <nz-input [nzPlaceHolder]="'请输入供应商编码'"></nz-input>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="6" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="8">
                            <label>客户编码</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="16">
                            <nz-input [nzPlaceHolder]="'请输入客户编码'"></nz-input>
                        </div>
                    </div>

                    <div nz-form-item nz-col [nzSpan]="24" style="margin-bottom:6px; height: 42px;">
                        <div nz-form-label nz-col [nzSm]="2">
                            <label>备注</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="22" style="margin-bottom:6px; height: 42px;">
                            <nz-input [nzPlaceHolder]="'请输入字段'"></nz-input>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </nz-card>

</form>
