<pro-header>
    <ng-template #content>使用 Ng指令生成界面</ng-template>
</pro-header>

<form nz-form [formGroup]="form" (ngSubmit)="_submitForm()">

    <!-- 动态生成表单 -->
    <div nz-row [nzGutter]="16">
        <div nz-col [nzMd]="24">
            <nz-card nzTitle="动态表单区域">
                <div nz-form-item nz-row [nzGutter]="8">

                    <div nz-form-item nz-col *ngFor="let feild of feildList" [nzSpan]="feild.crossColumn.div">

                        <div nz-form-label nz-col [nzSm]="feild.crossColumn.label">
                            <label [title]="feild.label">{{feild.label}}</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="feild.crossColumn.input">
                            <nz-input [nzType]="feild.type" [formControlName]="feild.name"
                                      [nzRows]="'4'" [nzPlaceHolder]="feild.placeHolder"></nz-input>
                        </div>
                    </div>

                </div>
            </nz-card>
        </div>
    </div>

    <footer-toolbar errorCollect style="z-index: 0">
        <button nz-button [nzType]="'primary'" nzSize="large">提交</button>
    </footer-toolbar>
</form>
