button{
    cursor: pointer;
    border-radius: 5px;
    height: 28px;
    min-width: 40px !important;
    line-height: 1.15;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 8px;
}
